
.main-container {
  width: 1000px;
  height: 500px;
  margin-left: 250px;
  margin-top: 10px;
}


.btn-container {
  margin-top: 400px;

}

.btn{
  margin-left: 15px;
  margin-right: 10px;
}