<div class="main-container">

  <div class="sub-container">
    <div class="table-btn">
      <!-- <div class="btn">
        <button mat-raised-button color="primary" (click)="getAll()">Get All Users</button>
      </div> -->
      <table>
        <thead>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers; let i = index">
            <td>{{counter + i}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.status}}</td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>

</div>