.main{
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
}


.login-form{
  // border: 2px black solid;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}