.main-container {
  height: 100px;
  background-color: #ecf0f1;
  display: flex;
}

.button-div {
  height: 68px;
  width: 699px;
  margin-left: 550px;
  padding-left: 10px;
  padding-top: 30px;
}

.btn {
  margin-left: 50px;
}

.heading {
  width: 300px;   
  padding-top: 30px;
  padding-left: 30px;
}